:root {
    --color-dark-blue: #1F2937;
    --color-white: #F9FAf8;
    --color-light-gray: #E5E7EB;
    --color-light-blue: #3882F6;
    --color-dark-gray: #333333;

    --font-style-poppins: 'Poppins', sans-serif;
    --font-style-pacifico: 'Pacifico', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.1px solid red; */
}

/* (100%/16px)*10 = 62.5% */
html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-style-poppins);
    font-size: 1.6rem; /* 16px */
    line-height: 1.4;
    scroll-behavior: smooth;
    min-width: 42rem; /* 420px */
}

.banner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10rem; /* 100px */
    background-color: var(--color-dark-blue);
    padding: 20px;
    border-bottom: 3px solid var(--color-dark-gray);
}

.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.navigation-bar > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.1rem; /* 10px */
    /* border: 1px solid blue; */
}

li {
    list-style-type: none;
    padding: 0 20px 0;
}

a:link, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

.logo, .title, .desc, a:link, a:visited{
    color: var(--color-white);
}

.random {
    color: var(--color-dark-blue);
}

.logo, .random {
    font-size: 30px;
}

.title {
    font-size: 40px;
}

.title, .random, .logo {
    font-weight: bold;
}

.desc {
    font-size: 18px;
}

.btn-signup {
    padding: 8px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    width: 120px;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: var(--color-dark-gray);
}

.first-section {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--color-dark-blue);
    /* border: 2px solid red; */
    padding: 30px 20px 50px;
}

.fs-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.img-mountain, .img-rock{
    display: block; /* to remove extra space below the image */
    width: 100%; /* to make the image fit the width of the div */
    height: 100%; /* to make the image fit the height of the div */
    background-size: cover;
    border-radius: 0.8rem;
}

.placeholder {
    display: inline-block; /* to make the div fit the image */
    width: 550px; /* replace with the width of your image */
    height: 300px; /* replace with the height of your image */
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 70px;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: center;
    
}

.ss-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    justify-items: center;
    /* grid-gap: 40px; */
    width: 100%;
    /* max-width: 200rem; */
    /* margin: 0 auto; */
    /* border: 2px solid blue;   */
    margin: 50px auto;
}

.ss-grid-box {
    display: inline-block; /* to make the div fit the image */
    width: 300px; /* replace with the width of your image */
    height: 300px; /* replace with the height of your image */
}

.fa-github {
    color: var(--color-light-gray);
    font-size: 2rem; /* 20px */
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* 10px */
    width: 100%;
    padding: 1rem; /* 10px */
    color: var(--color-white);
    font-size: 1.5rem; /* 15px */
    background-color: var(--color-dark-gray);
}

/* ================================================================= */
/* Media Queries */

/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
/* Styles for small mobile devices */
    html {
        font-size: 54%; 
    }

    .navigation-bar > ul {
        flex-direction: column;
    }
}
  
/* Media query for screens with a minimum width of 481px and a maximum width of 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
/* Styles for medium mobile devices and tablets */
    html {
        font-size: 56%; 
    }

    .random {
        padding: 0 5px 0;
    }
}
  
/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* Styles for smaller desktop devices and laptops */
    html {
        font-size: 58%;
    }
}
  
/* Media query for screens with a minimum width of 1025px */
@media only screen and (min-width: 1025px) {
/* Styles for larger desktop devices and wide screens */
    html {
        font-size: 60%; 
    }
}

@media only screen
and (max-width: 480px),
(min-width: 481px) and (max-width: 768px), 
(min-width: 769px) and (max-width: 1024px),
(min-width: 1025px) {
    .fs-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .placeholder {
        /* border: 2px solid red; */
        margin-top: 30px;
    }

    .ss-grid-container {
        grid-gap: 40px;
        padding: 0px 30px;
        /* border: 2px solid red; */
    }

    .banner {
        gap: 0;
    }
    
}

@media only screen
and (max-width: 480px),
(min-width: 481px) and (max-width: 768px){
    .banner {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}